{% extends 'doctor/base.html' %}

{% block content %}

<h1> Sign up </h1>



<form method="post"> 

<div class="fieldWrapper">

    {{ form.first_name.errors }} <!-- what is .errors? -->
    <label for="{{ form.first_name.id_for_label }}">First Name:</label>
    {{ form.first_name }}

</div>

<div class="fieldWrapper">

    {{ form.last_name.errors }}
    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
    {{ form.last_name }}
    
</div>

<div class="fieldWrapper">

    {{ form.email.errors }} 
    <label for="{{ form.email.id_for_label }}">E-mail:</label>
    {{ form.email }}
    
</div>

<input type="submit" value="Submit" />

{% csrf_token %}
</form>


{% endblock %}



	

